.PriceSidebar {
	width: var(--sidebar-width);
	background-color: lightgrey;
	min-height: 100px;
	height: 100%;
}

.item {
    min-width: 120px;
	display: flex;
	flex-direction: column;
	padding: 12px;
}
