.PriceSidebar {
    width: var(--sidebar-width);    
    background-color: lightgrey;
    min-height: 100px;
    height: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}